footer, .bg-jumbotron{
	background-color: #0000FF;
}
footer, .text-jumbo{
	color: #FF0000;
}
.background-red{
	color: white;
	background-color: #FF0000;
}
.no-border{
	border: none;
}
strong{
	font-weight: bold;
}




// spela.html brädan
#connect4-board{
	max-width: 100%;
}

.board-column{
	width: 100px;
	height: 100px;
	background-color: blue;
	padding: 7px;
	float: left;
}

.circle{
	background-color: white;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 3px solid #0000aa;
}

.red{
	background-color: red;
}
///

